{% extends "base.html" %}
{% load static %}
{% block title %}Phone Radar | Brand List{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Brand List</h2>
                <ul class="list-group">
                    {% for brand in all_brands %}
                        <li class="list-group-item"><a href="{% url 'main:model' brand.slug %}">{{ brand.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}