{% extends "base.html" %}
{% load static %}
{% block title %}Phone Radar | Add New Review{% endblock %}
{% block content %}
<div class="container">
        <div class="row">
            <div class="col">
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-form-label">
                                    <label for="{{ field.id_for_label }}" class="text-left">{{ field.label }}</label>
                                </div>
                                <div class="col-form-label">
                                    {{ field }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
